<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B2_APPLICATION_KEY</key>
	<string>$(B2_APPLICATION_KEY)</string>
	<key>B2_BUCKET_ID</key>
	<string>$(B2_BUCKET_ID)</string>
	<key>B2_KEY_ID</key>
	<string>$(B2_KEY_ID)
</string>
	<key>BUCKET_NAME</key>
	<string>$(BUCKET_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Celestoria.Celestoria</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.Celestoria.Celestoria</string>
			</array>
		</dict>
	</array>
	<key>CLOUDFLARE_DOMAIN</key>
	<string>$(CLOUDFLARE_DOMAIN)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_HOST</key>
	<string>$(SUPABASE_HOST)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleMixed</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.Celestoria.Celestoria</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Celestoria</string>
</dict>
</plist>
